<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>thirdColor</key>
	<string>#9D49A5</string>
	<key>firstColor</key>
	<string>#942192</string>
	<key>secondColor</key>
	<string>#96269A</string>
</dict>
</plist>
